.home {
	display: flex;
	justify-content: space-between;
}
.home__newfeeds {
	width: 60%;
	padding: 0 10%;
}
.home__infor {
	position: fixed;
	width: 20%;
	height: calc(100vh - 6rem);
}

.home__infor__wrap {
	width: 100%;
	height: 100%;
	padding: 2rem 0;
	margin-top: 0.3rem;
}
.home__infor__items {
	width: 100%;
	height: 5.5rem;
	display: flex;
	align-items: center;
	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}
	padding: 0 1rem;
	border-radius: 0.5rem;
}
.home__infor__items__image {
	width: 3.5rem;
	& > img {
		width: 100%;
		height: 3.5rem;
		border-radius: 50%;
		border: 0.1rem solid rgba(0, 0, 0, 0.1);
	}
	& > i {
		font-size: 2.3rem;
		background: -webkit-linear-gradient(180deg, #1b88f6, #55d5c4);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	margin-right: 1rem;
}
.home__infor__items__name {
	color: black;
	font-size: 1.5rem;
	font-weight: 500;
}
.chat__all {
	width: 100%;
	height: 37rem;
	overflow: hidden;
	border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.chat__content {
	height: calc(100% - 4rem);
	overflow-y: scroll;
	overflow-x: hidden;
	&::-webkit-scrollbar {
		width: 0.5rem;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--light_secondary_color);
	}
	&:hover::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.1);
	}
	position: relative;
}
.chat__all__input {
	height: 4rem;
	width: 100%;
	position: relative;
}
.chat__all_wrap {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
	padding: 0 0.5rem;
	& > div {
		width: 80%;
		height: 2rem;
		background-color: transparent;
		border: transparent;
		outline: none;
		font-size: 1.4rem;
		margin-right: 2%;
		position: relative;
	}
	& > button {
		width: 20%;
		height: 3rem;
		border-radius: 1.5rem;
		background-color: var(--light_primary_color);
		border: 0;
		color: white;
		cursor: pointer;
		&:hover {
			transform: scale(0.9);
		}
	}
}
.chat__all__abs {
	position: absolute;
	bottom: 1rem;
	font-size: 1.5rem;
	left: 0.5rem;
}
.chat__items {
	display: flex;
	padding: 0.5rem;
	align-items: flex-end;
}
.chat__items__avatar {
	width: 3rem;
	height: 3rem;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
	& > img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
	}
}
.chat__items__detail {
	flex: 1;
}
.chat__items__content {
	width: 100%;
	background-color: #e4e6eb;
	padding: 1rem 0.5rem;
	margin-top: 0.5rem;
	border-radius: 1rem;
	font-size: 1.3rem;
}
.home__newfeeds {
	padding-top: 2rem;
}
.home__newfeeds__createOne {
	width: 100%;
	height: 12rem;
	background-color: white;
	box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
	padding: 1rem;
}
.home__newfeed__head {
	display: flex;
	align-items: center;
}
.home__newfeed__image > img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.home__newfeed__input {
	width: calc(100% - 5rem);
	margin-left: 1rem;
	height: 4rem;
	background-color: #f0f2f5;
	border-radius: 3rem;
	display: flex;
	align-items: center;
	padding-left: 1rem;
	font-size: 1.5rem;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.4);
	font-weight: 500;
	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}
}
.home__newfeed__body {
	width: 100%;
	height: 6rem;
	margin-top: 1rem;
	padding: 1rem;
	border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
	display: flex;
}
.home__newfeed__items {
	flex: 1;
	height: 100%;
	cursor: pointer;
	border-radius: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}
	font-size: 1.5rem;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.6);
	& > i {
		margin-right: 0.5rem;
		font-size: 2rem;
		color: rgba(255, 0, 0, 0.7);
	}
}
.newfeed-create-abs {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(243, 243, 244, 0.7);
	z-index: 999;
}
.newfeed-create {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	width: 30%;
	height: 65%;
	background-color: white;
	box-shadow: 0 0 0.6rem 0rem rgba(0, 0, 0, 0.4);
	border-radius: 1rem;
}
.newfeed-create__wrap {
	width: 100%;
	height: 100%;
	position: relative;
}
.newfeed-create__head {
	width: 100%;
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.9rem;
	font-weight: 600;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.newfeed-create__cancel {
	position: absolute;
	right: 1rem;
	top: 1rem;
	& > div {
		width: 3rem;
		height: 3rem;
		background-color: #e4e6eb;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2.5rem;
		padding-bottom: 0.5rem;
		cursor: pointer;
	}
}
.newfeed-create__input {
	width: 100%;
	margin-top: 1rem;
	position: relative;
	padding: 0 1rem;
	display: flex;
	& > div:first-child {
		min-width: 93%;
		min-height: 3rem;
		outline: none;
		font-size: 1.6rem;
		color: rgba(0, 0, 0, 0.7);
		z-index: 200;
	}
	& > div:nth-child(2) {
		font-size: 2.5rem;
		margin-left: 0.5rem;
		& > i {
			cursor: pointer;
		}
	}
}
.newfeed-create-msg {
	position: absolute;
	top: 0.3rem;
	font-size: 1.6rem;
	color: rgba(0, 0, 0, 0.7);
	z-index: 100;
}
.picker {
	position: absolute;
	z-index: 300;
	right: -30%;
	top: 22%;
}
.newfeed-create__imgVideo {
	margin-top: 2rem;
	width: 100%;
	height: 40vh;
	border-radius: 1rem;
	padding: 0 1rem;
	& > div {
		width: 100%;
		height: 100%;
		border: 0.1rem solid rgba(0, 0, 0, 0.4);
		border-radius: 1rem;
		padding: 1rem;
		display: flex;
		& > label {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			background-color: rgba(0, 0, 0, 0.05);
			& > div {
				font-size: 1.8rem;
				font-weight: 500;
			}
			& > div:first-child {
				width: 5rem;
				height: 5rem;
				background-color: rgba(0, 0, 0, 0.1);
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 2.8rem;
				margin-bottom: 0.5rem;
			}
			cursor: pointer;
		}
	}
}
.newfeed-create__detail {
	width: 100%;
	height: 50vh;
	overflow-x: hidden;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 1rem;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--light_secondary_color);
	}
	&:hover::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.2);
	}
}
.newfeed-create__button {
	display: flex;
	justify-content: center;
	margin-top: 0.5rem;
	padding: 0 1.5rem;
	& > button {
		width: 100%;
		height: 3.5rem;
		outline: none;
		background-color: var(--dark_primary_color);
		color: white;
		border: none;
		border-radius: 0.4rem;
		cursor: pointer;
		&:hover {
			transform: scale(0.95);
		}
	}
}
