.quizManager {
	width: 80%;
	margin: 2rem auto;
	border: 0.1rem solid rgba(0, 0, 0, 0.1);
	background-color: white;
	box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
	border-radius: 0.8rem;
}
.quizManager__title {
	width: 100%;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
	padding: 0.5rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.quizManager__title__home {
	font-size: 2.5rem;
	width: 5rem;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}
}
.quizManager__title_button {
	& > button {
		background-color: #56ccf2;
		width: 10rem;
		height: 4rem;
		border-radius: 2rem;
		cursor: pointer;
		border: none;
		color: white;
		&:hover {
			transform: scale(0.95);
		}
	}
}
.quizCreate {
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}
.quizCreateForm {
	width: 70%;
	background-color: rgba(86, 204, 242, 0.6);
	border-radius: 1rem;
	padding: 2rem;
	margin-bottom: 8rem;
}
.quizCreate__title {
	width: 100%;
	height: 6rem;
	background-color: rgba(0, 0, 0, 0.7);
	margin-bottom: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.quizCreate__title__items {
	padding: 0 1rem;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 1.5rem;
	margin: 0 0.5rem;
	cursor: pointer;
	border-radius: 0.5rem;
	background-color: rgba(0, 0, 0, 0.4);
}
.quizCreateForm__head {
	display: flex;
	flex-wrap: wrap;
}
.quizCreateForm__head__1 {
	width: 20%;
}
.quizCreateForm__head__2 {
	flex: 1;
}

.quizCraeteForm__head__1_items {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	& > label {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column;
		font-size: 2rem;
		border: 0.1rem solid rgba(0, 0, 0, 0.1);
		padding: 1rem;
		border-radius: 1rem;
		color: white;
		cursor: pointer;
		font-weight: 600;
		& > i:first-child {
			margin-bottom: 1rem;
			font-size: 6rem;
		}
		&.active {
			background-color: rgba(0, 0, 0, 0.2);
		}
	}
}
.quizCraeteForm__head__1_img {
	position: relative;
	width: 100%;
	height: 20rem;
	& > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 1rem;
	}
}
.quizCreateForm__head__2 {
	margin-left: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	outline: 0.1rem solid #461a42;
	border-radius: 1rem;
	min-height: 20rem;
	padding: 1rem;
	& > div:first-child {
		font-size: 2rem;
		word-break: break-all;
		z-index: 3;
		outline: none;
	}
	position: relative;
}
.quizCreateForm__head__abs {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	z-index: 2;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.7);
}
.quizCreateForm__head__change {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.2);
	display: none;
	border-radius: 1rem;
}
.quizCraeteForm__head__1_items:hover .quizCreateForm__head__change {
	display: flex;
}
.quizCreateForm__head__3 {
	width: 100%;
	margin-top: 4rem;
	display: flex;
	position: relative;
}
.quizCreateForm__head__3__items {
	width: 100%;
	flex: 1;
	padding: 0 1rem;
}
.quizCreateForm__head__3__items_wrap {
	width: 100%;
	border: 0.1rem solid rgba(0, 0, 0, 0.7);
	border-radius: 1rem;
	padding: 0.5rem;
}
.quizCreateForm3___head {
	width: 100%;
	display: flex;
}
.quizCreateForm3__head__items {
	margin-right: 0.5rem;
	width: 3rem;
	height: 3rem;
	background-color: #1b3d5c;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 1.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	& > img {
		width: 100%;
		height: 100%;
		border-radius: 0.5rem;
		object-fit: cover;
	}
}
.quizCreateForm3__body {
	width: 90%;
	margin-left: 5%;
	min-height: 20rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	position: relative;
	border-radius: 1rem;
	outline: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.quizCraeteForm3__input {
	font-size: 1.6rem;
	outline: none;
	word-break: break-all;
	z-index: 1;
}

.quizCreateForm3__abs {
	position: absolute;
	z-index: 0;
	font-size: 1.6rem;
	word-break: keep-all;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.6);
	text-align: center;
}
.addAnswer {
	position: absolute;
	right: -9rem;
	top: 50%;
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 50%;
	border: 0.1rem solid rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5rem;
	padding-bottom: 1rem;
	cursor: pointer;
	&:hover {
		transform: scale(0.9);
	}
}
.banAddAnswer {
	cursor: not-allowed;
	background-color: red;
	color: white;
	border: white;
	&:hover {
		transform: scale(1);
	}
}
.annouce {
	position: absolute;
	right: -0.2rem;
	width: 40rem;
	top: -7rem;
	font-size: 1.8rem;
	height: 4rem;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: red;
	border-radius: 1rem;
	animation: appearing ease 1s;
	&::after {
		content: "";
		right: 1rem;
		top: 99%;
		position: absolute;
		border-top: 1rem solid red;
		border-bottom: 1rem solid transparent;
		border-left: 1rem solid transparent;
		border-right: 1rem solid transparent;
	}
}
.addAnswer:hover .annouce {
	display: flex;
}
@keyframes appearing {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.quizAnswer__img__abs {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9;
}
.quizAnswer__img--add {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	background-color: white;
	z-index: 10;
	border-radius: 1rem;
	box-shadow: 0 0 0.5rem 0.1rem white;
	padding: 1rem;
	&__title {
		text-align: center;
		font-size: 3rem;
		font-weight: 600;
		position: relative;
		& > div {
			position: absolute;
			right: 0;
			top: 0rem;
			width: 3rem;
			height: 3rem;
			border: 0.1rem solid rgba(0, 0, 0, 0.3);
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			padding-bottom: 0.6rem;
			cursor: pointer;
		}
	}
	&__input {
		width: 100%;
		height: 40vh;
		margin-top: 2rem;
		border: 0.1rem solid rgba(0, 0, 0, 0.3);
		font-size: 1.9rem;
		border-radius: 1rem;
		& > label {
			cursor: pointer;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.quizImage--abs {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	width: 60%;
	max-height: 80vh;
	background-color: white;
	& > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.quizImage--abs__close {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 9;
	display: flex;
	justify-content: flex-end;
	& > div {
		width: 4rem;
		height: 4rem;
		border: 0.1rem solid white;
		display: flex;
		margin-top: 1.5rem;
		margin-right: 1.5rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 3rem;
		color: white;
		padding-bottom: 0.5rem;
		cursor: pointer;
	}
}
.quizManager__detail {
	width: 100%;
	display: flex;
	min-height: calc(100vh - 10rem);
}
.quizManger__detail__1 {
	width: 30%;
	border-right: 0.1rem solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
}
.quizManger__detail__2 {
	flex: 1;
	padding: 1rem;
}
.quizManager__detail__card {
	width: 100%;
	height: 20rem;
	border: 0.1rem solid rgba(0, 0, 0, 0.1);
	position: relative;
	border-radius: 0.3rem;
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 1rem;
	& > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.quizManager__detail__card__title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 0.5rem;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	word-break: break-all;
}
.quizManager__detail__card__number {
	position: absolute;
	top: 0.5rem;
	right: 0;
	width: 12rem;
	height: 3rem;
	background-color: #56ccf2;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	color: white;
	border-radius: 0 1rem 0 1rem;
}
.quizManager__detail__card__time {
	position: absolute;
	top: 4.5rem;
	right: 0;
	width: 8rem;
	height: 2.5rem;
	background-color: #56ccf2;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8rem;
	color: white;
	border-radius: 0 1rem 0 1rem;
}
.quizManager__detail__2__card {
	width: 100%;
	min-height: 20rem;
	border: 0.1rem solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	margin-bottom: 2rem;
	position: relative;
	overflow: hidden;
}
.quizManager__detail__2__card__title {
	& > div:first-child {
		text-align: center;
		font-size: 1.8rem;
	}
	& > div:nth-child(2) {
		text-align: center;
		margin-top: 0.5rem;
		& > img {
			width: 30%;
		}
	}
}
.quizManager__detail__2__card__answer {
	display: flex;
	margin-top: 1rem;
}
.quizManager__detail__2__card__answer__box {
	flex: 1;
	padding: 0.5rem;
	position: relative;
	& > div:first-child {
		height: 100%;
		min-height: 7rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0.1rem solid rgba(0, 0, 0, 0.2);
		cursor: pointer;
		font-size: 1.5rem;
		flex-wrap: wrap;
		& > img {
			width: 100%;
			margin-bottom: 0.5rem;
		}
		& > div {
			width: 100%;
			text-align: center;
			margin-bottom: 0.5rem;
		}
	}
}
.quizManager__detail__2__card__answer__box__abs {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 3rem;
	height: 3rem;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #29e33b;
	color: white;
	border-radius: 50%;
	font-size: 1.6rem;
}
.quizManger__detail__2__mode {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	& > div {
		font-size: 1.5rem;
		margin: 0 0.5rem;
	}
	& > label {
		width: 6rem;
		height: 3rem;
		border: 0.1rem solid rgba(0, 0, 0, 0.4);
		border-radius: 2rem;
		padding: 0.2rem;
		position: relative;
		cursor: pointer;
	}
}
.__abs {
	position: absolute;
	left: 0.2rem;
	height: 2.5rem;
	width: 2.5rem;
	background-color: #56ccf2;
	border-radius: 50%;
}
.__abs.all {
	animation: changeBackPosition ease 0.5s forwards;
}
.__abs.name {
	animation: changingPosition ease 0.5s forwards;
}
@keyframes changeBackPosition {
	0% {
		left: 3.2rem;
	}
	100% {
		left: 0.2rem;
	}
}

@keyframes changingPosition {
	0% {
		left: 0.2rem;
	}
	100% {
		left: 3.2rem;
	}
}
.quizManger__detail__2__card__abs {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	min-width: 3rem;
	height: 3rem;
	border-radius: 50%;
	display: flex;
	padding: 0.5rem;
	align-items: center;
	justify-content: center;
	background-color: #56ccf2;
	font-size: 1.6rem;
	color: white;
}
.quizManger__detail__2__card__times {
	display: flex;
	justify-content: center;
	width: 100%;
	& > div {
		min-width: 4rem;
		padding: 0.5rem;
		height: 4.5rem;
		margin: 0 auto;
		background-color: #56ccf2;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		border-radius: 50%;
		font-size: 1.8rem;
		margin-bottom: 0.5rem;
	}
}
.quizMangerCard__2 {
	width: 100%;
	border: 0.1rem solid rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-bottom: 1rem;
	overflow: hidden;
	position: relative;
	& > div:first-child {
		width: 40%;
		height: 20rem;
		& > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	& > div:nth-child(2) {
		flex: 1;
		text-align: center;
		font-size: 1.8rem;
		padding: 0.5rem;
	}
}
.question__edit {
	position: absolute;
	right: -2rem;
	top: -2rem;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	background-color: #ff8a08;
	cursor: pointer;
	animation: minWidth ease 0.2s forwards;
	z-index: 10;
}
.question__edit:hover {
	animation: moreWidth ease 1s forwards;
}
.question__edit_btn {
	position: relative;
	width: 100%;
	height: 100%;
}
.question__edit_btn:hover .button__edit {
	display: block;
}
.question__edit_btn:hover .button__edit_second {
	display: block;
}
@keyframes moreWidth {
	100% {
		right: -10rem;
		top: -10rem;
		width: 20rem;
		height: 20rem;
	}
}
@keyframes minWidth {
	0% {
		right: -10rem;
		top: -10rem;
		width: 20rem;
		height: 20rem;
	}
	100% {
		right: -2rem;
		top: -2rem;
		width: 5rem;
		height: 5rem;
	}
}
.button__edit {
	position: absolute;
	left: 0;
	bottom: 1rem;
	background-color: #56ccf2;
	display: none;
}
.button__edit_second {
	position: absolute;
	left: -1rem;
	bottom: 5.5rem;
	background-color: red;
	display: none;
}
.question__edit_btn:hover .button__edit {
	display: block;
}
.question__edit_btn:hover .button__edit_second {
	display: block;
}
.quizCreate__tool {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5rem;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}
.quizCreate__btn {
	width: 10rem;
	height: 3.5rem;
	border-radius: 0.5rem;
	font-size: 1.6rem;
	margin: 0.5rem;
	cursor: pointer;
	background-color: white;
	&:hover {
		transform: scale(0.95);
	}
}
.quizCreate__select {
	width: 12rem;
	height: 3.5rem;
	margin: 0 0.5rem;
	position: relative;
}
.quizCreate__select__form {
	width: 12rem;
	height: 3.5rem;
	background-color: white;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	cursor: pointer;
	border: 0.2rem solid black;
	& > i {
		margin-left: 0.8rem;
		padding-bottom: 0.3rem;
	}
}
.quizCreate__select__more {
	position: absolute;
	bottom: 110%;
	background-color: white;
	left: 0;
	right: 0;
	border-radius: 0.5rem;
	overflow: hidden;
	font-size: 1.5rem;
	border: 0.1rem solid rgba(0, 0, 0, 0.2);
	animation: opaciti ease 0.5s;
}

.quizCreate__select__items {
	width: 100%;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
	cursor: pointer;
	&:hover {
		transform: scale(0.95);
	}
}
@keyframes opaciti {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
