.quizManager {
	width: 80%;
	margin: 2rem auto;
	border: 0.1rem solid rgba(0, 0, 0, 0.1);
	min-height: calc(100vh);
	background-color: white;
	box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
	border-radius: 0.8rem;
}
.quizManager__title {
	width: 100%;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
	padding: 0.5rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.quizManager__title__home {
	font-size: 2.5rem;
	width: 5rem;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}
}
.quizManager__title_button {
	& > button {
		background-color: #56ccf2;
		width: 10rem;
		height: 4rem;
		border-radius: 2rem;
		cursor: pointer;
		border: none;
		color: white;
		&:hover {
			transform: scale(0.95);
		}
	}
}
.quizCreate {
	width: 100%;
	min-height: 100vh;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.quizCreateForm {
	width: 70%;
	background-color: rgba(86, 204, 242, 0.6);
	border-radius: 1rem;
	padding: 2rem;
}
.quizCreateForm__head {
	display: flex;
	flex-wrap: wrap;
}
.quizCreateForm__head__1 {
	width: 20%;
}
.quizCreateForm__head__2 {
	flex: 1;
}

.quizCraeteForm__head__1_items {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	& > label {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column;
		font-size: 2rem;
		border: 0.1rem solid rgba(0, 0, 0, 0.1);
		padding: 1rem;
		border-radius: 1rem;
		color: white;
		cursor: pointer;
		font-weight: 600;
		& > i:first-child {
			margin-bottom: 1rem;
			font-size: 6rem;
		}
		&.active {
			background-color: rgba(0, 0, 0, 0.2);
		}
	}
}
.quizCraeteForm__head__1_img {
	position: relative;
	width: 100%;
	height: 20rem;
	& > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 1rem;
	}
}
.quizCreateForm__head__2 {
	margin-left: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	outline: 0.1rem solid #461a42;
	border-radius: 1rem;
	min-height: 20rem;
	padding: 1rem;
	& > div:first-child {
		font-size: 2rem;
		word-break: break-all;
		z-index: 3;
		outline: none;
	}
	position: relative;
}
.quizCreateForm__head__abs {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	z-index: 2;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.7);
}
.quizCreateForm__head__change {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.2);
	display: none;
	border-radius: 1rem;
}
.quizCraeteForm__head__1_items:hover .quizCreateForm__head__change {
	display: flex;
}
.quizCreateForm__head__3 {
	width: 100%;
	margin-top: 4rem;
	display: flex;
	position: relative;
}
.quizCreateForm__head__3__items {
	width: 100%;
	flex: 1;
	padding: 0 1rem;
}
.quizCreateForm__head__3__items_wrap {
	width: 100%;
	border: 0.1rem solid rgba(0, 0, 0, 0.7);
	border-radius: 1rem;
	padding: 0.5rem;
}
.quizCreateForm3___head {
	width: 100%;
	display: flex;
}
.quizCreateForm3__head__items {
	margin-right: 0.5rem;
	width: 3rem;
	height: 3rem;
	background-color: #1b3d5c;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 1.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	& > img {
		width: 100%;
		height: 100%;
		border-radius: 0.5rem;
		object-fit: cover;
	}
}
.quizCreateForm3__body {
	width: 90%;
	margin-left: 5%;
	min-height: 20rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	position: relative;
	border-radius: 1rem;
	outline: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.quizCraeteForm3__input {
	font-size: 1.6rem;
	outline: none;
	word-break: break-all;
	z-index: 4;
}

.quizCreateForm3__abs {
	position: absolute;
	z-index: 2;
	font-size: 1.6rem;
	word-break: keep-all;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.6);
	text-align: center;
}
.addAnswer {
	position: absolute;
	right: -9rem;
	top: 50%;
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 50%;
	border: 0.1rem solid rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5rem;
	padding-bottom: 1rem;
	cursor: pointer;
	&:hover {
		transform: scale(0.9);
	}
}
.banAddAnswer {
	cursor: not-allowed;
	background-color: red;
	color: white;
	border: white;
	&:hover {
		transform: scale(1);
	}
}
.annouce {
	position: absolute;
	right: -0.2rem;
	width: 40rem;
	top: -7rem;
	font-size: 1.8rem;
	height: 4rem;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: red;
	border-radius: 1rem;
	animation: appearing ease 1s;
	&::after {
		content: "";
		right: 1rem;
		top: 99%;
		position: absolute;
		border-top: 1rem solid red;
		border-bottom: 1rem solid transparent;
		border-left: 1rem solid transparent;
		border-right: 1rem solid transparent;
	}
}
.addAnswer:hover .annouce {
	display: flex;
}
@keyframes appearing {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.quizAnswer__img__abs {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9;
}
.quizAnswer__img--add {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	background-color: white;
	z-index: 10;
	border-radius: 1rem;
	box-shadow: 0 0 0.5rem 0.1rem white;
	padding: 1rem;
	&__title {
		text-align: center;
		font-size: 3rem;
		font-weight: 600;
		position: relative;
		& > div {
			position: absolute;
			right: 0;
			top: 0rem;
			width: 3rem;
			height: 3rem;
			border: 0.1rem solid rgba(0, 0, 0, 0.3);
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			padding-bottom: 0.6rem;
			cursor: pointer;
		}
	}
	&__input {
		width: 100%;
		height: 40vh;
		margin-top: 2rem;
		border: 0.1rem solid rgba(0, 0, 0, 0.3);
		font-size: 1.9rem;
		border-radius: 1rem;
		& > label {
			cursor: pointer;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.quizImage--abs {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	width: 60%;
	max-height: 80vh;
	background-color: white;
	& > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.quizImage--abs__close {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 9;
	display: flex;
	justify-content: flex-end;
	& > div {
		width: 4rem;
		height: 4rem;
		border: 0.1rem solid white;
		display: flex;
		margin-top: 1.5rem;
		margin-right: 1.5rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 3rem;
		color: white;
		padding-bottom: 0.5rem;
		cursor: pointer;
	}
}
