$width: 70%;
$_padding: 3rem;
.profile {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.profile__wrap {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: white;
	box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.3);
}
.profile__wrap {
	& > div {
		width: $width;
	}
}
.profile__cover__image {
	width: 100%;
	position: relative;
	height: 40rem;
	border: 0.1rem solid rgba(0, 0, 0, 0.05);
	border-radius: 0 0 1rem 1rem;
	& > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 0 0 1rem 1rem;
		box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
	}
}
.profile__cover__image__add {
	position: absolute;
	bottom: 1.3rem;
	right: 2rem;
	background-color: white;
	padding: 0 2rem;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	border-radius: 1rem;
	box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
	font-weight: 500;
	padding-bottom: 0.2rem;
	cursor: pointer;
}
.addCoverImage {
	width: 100%;
	height: 100%;
}
.padding__profile {
	padding: 0 $_padding;
}
.profile__userInfor {
	display: flex;
	width: 100%;
	align-items: flex-end;
	justify-content: space-between;
}
.profile__userInfor__1 {
	margin-top: -3rem;
	z-index: 2;
	display: flex;
	align-items: center;
}
.profile__userInfor__1_img {
	margin-right: 1rem;
	& > img {
		border-radius: 50%;
		width: 18rem;
		height: 18rem;
		object-fit: cover;
		border: 0.8rem solid white;
	}
}
.profile__userInfor__1_name {
	& > div:first-child {
		font-size: 3rem;
		font-weight: 600;
	}
	& > div:nth-child(2) {
		font-size: 1.6rem;
		margin-top: 0.2rem;
		color: rgba(0, 0, 0, 0.6);
		font-weight: 500;
		margin-bottom: 0.8rem;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}
.profile__userInfor__1_name-items {
	margin-left: -0.5rem;
	& > img {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		border: 0.2rem solid white;
	}
}
.profile__userInfor__2 {
	margin-bottom: 4rem;
}
.profile__userInfor__2_edit {
	background-color: rgba(0, 0, 0, 0.06);
	padding: 0 2rem;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	font-size: 1.5rem;
	font-weight: 500;
	cursor: pointer;
	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}
}
.profile__user__navbar {
	margin-top: 0.5rem;
	width: 100%;
	display: flex;
	border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
	height: 5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	align-items: center;
}
.profile__user__navbar__items {
	height: 100%;
	padding: 0 2rem;
	display: flex;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 500;
	cursor: pointer;
	&:hover {
		background-color: rgba(0, 0, 0, 0.06);
	}
	position: relative;
	&.active {
		color: #1b74e4;
		&::after {
			content: "";
			position: absolute;
			bottom: -0.5rem;
			left: 0;
			right: 0;
			border-bottom: 0.4rem solid #1b74e4;
		}
	}
}
.profile__detail {
	width: $width;
	margin-top: 01.5rem;
	display: flex;
	margin-bottom: 2rem;
}
.profile__detail__1 {
	width: 40%;
	padding-right: 0.5rem;
}
.sticky {
	position: sticky;
	top: 7rem;
}
.profile__detail__2 {
	margin-top: -2rem;
	width: 60%;
	padding-left: 0.5rem;
}
.border__shadow {
	box-shadow: 0 0 0.1rem 0rem rgba(0, 0, 0, 0.4);
}
.profile__detail__1__introduction {
	width: 100%;
	min-height: 10rem;
	background-color: white;
	border: 0.1rem solid rgba(0, 0, 0, 0.1);
	padding: 1rem;
	border-radius: 0.8rem;
	margin-bottom: 1.5rem;
}
.__title {
	font-size: 2.3rem;
	font-weight: 650;
	color: rgba(0, 0, 0, 0.6);
}
.__description {
	margin-top: 1rem;
	font-size: 1.5rem;
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
}
.__button {
	margin-top: 2rem;
	& > button {
		width: 100%;
		height: 3.8rem;
		background-color: #f0f0f0;
		border: 0;
		cursor: pointer;
		font-size: 1.7rem;
		border-radius: 1rem;
		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}
.__image__wrap {
	margin-top: 1rem;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	display: flex;
	flex-wrap: wrap;
}
.__img {
	width: 33.33333%;
	height: 12rem;
	padding: 0 0.5rem;
	object-fit: cover;
	margin-bottom: 1rem;
	border-radius: 1rem;
	cursor: pointer;
}
.__image__card {
	width: 33.33333%;
	padding: 0 0.5rem;
	margin-bottom: 1rem;
	cursor: pointer;
	& > img {
		width: 100%;
		height: 12rem;
		border-radius: 1rem;
	}
	& > div {
		font-size: 1.3rem;
		text-align: center;
	}
}
.friendProfile {
	margin: 2rem 0;
	width: $width;
	min-height: 10rem;
	background-color: white;
	border-radius: 0.8rem;
	padding: 2rem 1.5rem;
}
.friendsNavbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.friendsNavbar__items {
	& > input {
		margin-right: 1rem;
		width: 20rem;
		height: 4rem;
		background-color: #f0f2f5;
		border: none;
		border-radius: 2rem;
		padding: 0 1rem;
		outline: none;
		font-size: 1.5rem;
	}
}
.__link {
	font-size: 1.5rem;
	color: #4b95f5;
	text-decoration: none;
	font-weight: 600;
}
