.draw {
	display: flex;
	justify-content: center;
	width: 100%;
}
.draw__wrap {
	margin-top: 2rem;
	width: 60%;
	min-height: calc(100vh - 4rem);
	background-color: white;
	margin-bottom: 2rem;
	box-shadow: 0 0 0.2rem 0.05rem rgba(0, 0, 0, 0.2);
	border-radius: 1rem;
	padding: 1rem 0;
	& > div {
		display: flex;
		flex-wrap: wrap;
	}
}
.draw__items {
	width: 30%;
	height: 20rem;
	margin: 1rem;
	overflow: hidden;
	& > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all ease 0.4s;
		&:hover {
			transform: scale(1.2);
		}
	}
	cursor: pointer;
	border: 0.1rem solid rgba(0, 0, 0, 0.2);
	position: relative;
}
.draw__items__love {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	font-size: 1.5rem;
	font-weight: 700;
}
.draw__items__hover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	opacity: 0;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	& > div:first-child {
		margin-right: 2rem;
	}
	& > div {
		color: white;
	}
}
.icons__a {
	&:hover {
		animation: hoverOn ease 2s infinite;
	}
}
.draw__items:hover .draw__items__hover {
	animation: hoverOnCard ease 0.8s forwards;
}
@keyframes hoverOnCard {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes hoverOn {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1);
	}
	75% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}
.draw__viewAll__abs {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}
.draw__viewAll {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 90vh;
	z-index: 1001;
}
.draw__viewAll__a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.draw__viewAll__image {
	width: 60%;
}
.draw__viewAll__image > img {
	width: 100%;
	max-height: 100%;
	object-fit: cover;
	border: 0.1rem solid rgba(255, 255, 255, 0.5);
}
.draw__viewAll__comment {
	margin-top: 2rem;
}
.draw__viewAll__comment {
	width: 38%;
	height: 100%;
	background-color: white;
	box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.5);
	margin-left: 2%;
	border-radius: 0.5rem;
	padding: 1rem;
	overflow: hidden;
}
.draw__viewAll__Comment__items {
	width: 100%;
	height: calc(90vh - 8rem);
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0 1rem;
	padding-top: 2rem;
	&::-webkit-scrollbar {
		width: 0.5rem;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.2);
	}
}
